@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

body {
    background-color: #303030;
}

/*p {
    text-align: justify;
}*/

#cabecalho p {
    color: #cacacc;
    font-family: "Montserrat", sans-serif;
    background-color: #262626;
    border-bottom: solid;
    border-color: #000000;
    padding: 10%;
    width: 87%;
    position: relative;
    left: -7px;
    text-align: justify;
}

/*formataçao do menu*/

/*hr {
    position: relative;
    top: 16px;
    width: 20px;
    height: 2px;
    background-color: #cacacc;
    border-color: black;
    margin-top: -5px;

    right: 162px;
    border-radius: 20px 20px 20px;
}*/
.cor {
    color: #cacacc;
    text-shadow: 1px 2px 1px #9ea6ad;
}

#menu h1 {
    position: absolute;
    top: -23px;
    left: 45%;
    font-size: 40px;
    color: #9ea6ad;
    text-shadow: 1px 2px 1px #cacacc;
}

#menu {
    display: flex;
    justify-content: space-around;
    position: static;
    /* background-color: #262626;*/
    height: 100px;
    width: 107%;
    top: -4px;
    left: -8px;
    /*border-bottom: solid;*/
    /* border-color: #000000;*/
}
#menu p {
    position: absolute;
    color: #cacacc;
    top: 38px;
    left: 35%;
    font-size: 120%;
    font-family: "Montserrat", sans-serif;
}
.navlist {
    list-style: none;
}

.navlist li {
    margin: 12px;
    opacity: 0;
}

body #menu .hamburguer {
    position: absolute;
    right: 90%;
}

.hamburguer div {
    height: 2px;
    width: 22px;
    background: #cacacc;
    margin: 6px;
    right: 20px;
}

/*formatação das páginas*/
#fundo {
    width: 107%;
    height: 450px;
    position: relative;
    left: -8px;
    border-bottom: 2px solid #000000;
}

#inf {
    border-bottom: 2px solid #000000;
    background-color: #262626;
    position: relative;
    top: -3vh;
    width: 87%;
    left: -8px;
}
#inf ul {
    display: flex;
    position: static;
    top: -5vh;
}

#inf li {
    color: #cacacc;
    list-style: none;
    border-right: 2px solid #000000;
    padding-right: 50px;
    margin-left: 70px;
}

/*formataçao da navegaçao secundaria*/
#navsecudaria {
    display: flex;
}
@media (max-width: 768px) {
    #navsecudaria {
        flex-direction: column;
        align-items: center;
    }
    figure {
        width: 250px;
    }
    #fundo {
        height: 200px;
    }
    #inf {
        border-bottom: 2px solid #000000;
        background-color: #262626;
        position: relative;
        top: -3vh;
        width: 107%;
        left: -8px;
    }

    #inf li {
        border-right: 2px solid #000000;
        padding-right: 13.4%;
        margin-left: 20px;
    }
}
a {
    text-decoration: none;
}

figure {
    text-align: center;
    color: #cacacc;
    border: solid 1px #000000;
    box-shadow: 2px 4px 3px black;
    padding: 10px;
    width: 250px;
    height: 300px;
}

figure p {
    text-align: justify;
    text-indent: 30px;
}

img.verm {
    filter: drop-shadow(0 0 3px #bf0006);
}
img.verd {
    filter: drop-shadow(0 0 4px #0084c2);
}

img#azu {
    filter: drop-shadow(0 0 2px #cacacc);
}

footer#rodape {
    text-indent: 30px;
    color: white;
    clear: both;
    height: 100px;
    width: 107%;
    background-color: #262626;
    position: relative;
    left: -8px;
    border-top: 2px solid;
}
